body{
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}
#card{
    background-color: white;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.151);

}
#card img{
    width: 100%;
    height: auto;
    border-radius: 3%;
}
#card h1{
    text-align: center;
    padding: 0 10px;
    color: hsl(218, 44%, 22%);
}
#card p{
    font-weight: 400;
    padding: 0 10px;
    text-align: center;
    color: hsl(216, 15%, 48%);
    margin-top: 0;
}

.attribution{
    position: absolute;
    text-align: center;
    bottom: 5px;
    font-size: 1em;
}